.jumbotron {
    background-image: url("./memory.jpg");
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    width: auto;
    overflow: hidden;
    margin-bottom: 0;
}

.banner {
    margin: 125px auto;
    align-content: center;
    padding: 50px;
}

.title {
  font-weight: bold;
}